// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

// I didn't use any @import because i linked them directly into html

// Write your sass code here or import partials


:root {
  /* Colors */
  --c-bg: hsl(0, 0%, 0%);
  --c-text: hsl(0, 0%, 95%);

  /* Font Size */
  --fs-text: 14px;
  --fs-heading: 18px;
  --fs-title: 36px;

  /* Sizes */
  --column: 146px;
  --margin: 80px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}


body {
  display: block;
  background-color: var(--c-bg);
  color: var(--c-text);
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: var(--fs-text);
  /* The font-feature-settings CSS property controls advanced typographic features in OpenType fonts. */
  font-feature-settings: "liga";
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

/* It has the class active from javascript */
body.active {
  background-color: var(--c-text);
  color: var(--c-bg);
}

body::-webkit-scrollbar {
  display: none;
}

div {
  display: block;
}


/* MAIN */
#PageWrapper {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  display: block;
}

#PageWrapper .page {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.main_header {
  position: absolute;
  left: 0;
  top: calc(30% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  padding: 0 var(--margin);
  transform: translateY(-100%);
}

.main_title {
  margin-left: 80px;
  /* margin-right: 20rem; */
  font-size: 50px;
  letter-spacing: -0.02rem;
  line-height: 0.9;
}

.main_title .line3 {
  text-align: right;
}

.main_desc {
  position: absolute;
  font-size: 14px;
  left: calc(var(--margin) + var(--column)*1.3);
  top: calc(1px + 35vh + 240px);
  text-transform: capitalize !important;
  transform: translateY(100%);
  line-height: 1.5;
}

/* Gallery */

img,
svg,
video {
  display: block;
  width: 100%;
}

.slider-wrap {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 320px;
  cursor: grab;
  border-left: 2px solid black;
  border-right: 2.5px solid black;
}

.image_one {
  width: 569px;
}

.image_two {
  width: 690px;
}

.image_three {
  width: 601px;
}

.image_four {
  width: 555px;
}

.image_five {
  width: 569px;
}

img {
  filter: grayscale(100%);
  /* border: 2px solid black */
  border: 1px solid black;
}

img:hover {
  filter: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.slider-inner {
  position: absolute;
  display: flex;
  column-gap: 10px;
  top: 0;
  left: 0;
  width: 3000px;
  height: 100%;
  display: flex;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(205, 205, 205);
  /* border: 2px solid white; */
}


.progress-bar {
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 5px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.prog-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Dark/Light Mode */

#toggle {
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  border-radius: 35px;
  background: #222;
  transition: 0.5s;
  cursor: crosshair;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle.active {
  background: var(--c-text);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5),
    inset 0 1px 2px rgba(255, 255, 255, 0.2),
    inset 0 -1px 2px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

/* It has the class active from javascript */
#toggle.active .indicator {
  left: 35px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1),
    inset 0 1px 2px rgba(255, 255, 255, 1),
    inset 0 -1px 2px rgba(255, 255, 255, 1);
}

header.active {
  background-color: white;
  color: black;
}

/* SideBar Menu */
/* Site Header display none */
.siteHeader {
  position: fixed;
  z-index: 2;
  bottom: 40px;
  left: 80px;
  cursor: crosshair;
}

.nav-toggle {
  font-size: 16px;
  transform-origin: left bottom;
  transform: translateX(14px) rotate(-90deg)
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 500;
  transform: translateX(100%);
}

.nav.open {
  transform: translateX(0%);
}

.nav .siteNav_title {
  position: absolute;
  left: 80px;
  top: 60px;
  font-size: 36px;
  line-height: 0.9;
  letter-spacing: -0.02rem;
}



.nav .close {
  cursor: crosshair;
  position: absolute;
  left: 80px;
  bottom: 40px;
  font-size: 16px;
  transform-origin: left bottom;
  transform: translateX(14px) rotate(-90deg)
}


.siteNav_title .line3 {
  text-align: right;
}

ol,
ul {
  list-style-type: none;
}

.siteNav_pages {
  position: absolute;
  left: calc(var(--column)*2.3);
  top: calc(90px + 15vh);
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.siteNav_pages li .label {
  font-size: 18px;
}

.siteNav_pages li a {
  display: flex;
  align-items: baseline;
  gap: 0 1rem;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

.siteNav_pages li .name {
  font-size: 60px;
  letter-spacing: -0.02rem;
}

.siteNav_pages li:hover {
  opacity: 0.4;
}

.siteNav_glimpse {
  position: absolute;
  /* left: 105.25px; */
  left: calc(var(--column)*1.2);
  top: calc(81px + 35vh + 240px);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  opacity: 0.7;
  font-size: 17px;
}

p {
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Marcellus', serif;
}


/* Media Queries For Main */

@media only screen and (max-width: 480px) {

  .main_header {
    position: absolute;
    left: 0;
    top: calc(30% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    padding: 0 80px 0 20px;
    transform: translateY(-100%);
  }

  .main_title {
    margin-left: 0px;
    /* margin-right: 20rem; */
    font-size: 35px;
    letter-spacing: -0.02rem;
    line-height: 0.9;
  }


  #toggle {
    margin: 0 10px 0 0;
    width: 50px;
    height: 25px;
    border-radius: 35px;
  }

  #toggle .indicator {
    width: 25px;
    height: 25px;
  }

  #toggle.active .indicator {
    left: 25px;
  }

  .slider-wrap {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    height: 36%;
    cursor: grab;
    border-left: 2px solid black;
    border-right: 2.5px solid black;
  }

  .main_desc {
    left: 50px;
    top: calc(1px + 35vh + 140px);
    transform: translateY(100%);
    margin-top: 2rem;
    line-height: 1.5;
    font-size: 11px;
  }

  .siteHeader {
    position: fixed;
    z-index: 2;
    bottom: 40px;
    left: 35px;
    cursor: crosshair;
  }

  .nav-toggle {
    font-size: 13px;
    transform-origin: left bottom;
    transform: translateX(14px) rotate(-90deg)
  }


  .nav .siteNav_title {
    position: absolute;
    left: 20px;
    top: 60px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: -0.02rem;
  }

  .nav .close {
    cursor: crosshair;
    position: absolute;
    left: 30px;
    bottom: 40px;
    font-size: 13px;
    transform-origin: left bottom;
    transform: translateX(14px) rotate(-90deg)
  }

  .siteNav_pages {
    position: absolute;
    left: calc(var(--column)*0.7);
    top: calc(90px + 15vh);
  }

  .siteNav_pages li .label {
    font-size: 13px;
  }

  .siteNav_pages li .name {
    font-size: 40px;
    letter-spacing: -0.02rem;
  }

  .siteNav_glimpse {
    position: absolute;
    /* left: 105.25px; */
    left: calc(var(--column)*0.4);
    top: calc(1px + 35vh + 200px);
    line-height: 1.4;
    letter-spacing: 0.04rem;
    opacity: 0.7;
    font-size: 11px;
  }
}

@media only screen and (min-width: 481px) {

  .main_header {
    left: 0;
    top: calc(30% - 10px);
    padding: 0 80px 0 20px;
  }

  .main_title {
    margin-left: 50px;
    /* margin-right: 20rem; */
    font-size: 45px;
  }


  #toggle {
    margin: 0 10px 0 0;
    width: 70px;
    height: 35px;
    border-radius: 35px;
  }

  #toggle .indicator {
    width: 35px;
    height: 35px;
  }

  #toggle.active .indicator {
    left: 35px;
  }

  .slider-wrap {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    height: 41.5%;
    cursor: grab;
    border-left: 2px solid black;
    border-right: 2.5px solid black;
  }

  .main_desc {
    left: calc(var(--margin) + var(--column)*0.4);
    top: calc(1px + 35vh + 220px);
    transform: translateY(100%);
    margin-top: 2rem;
    line-height: 1.5;
    font-size: 13px;
  }

  .siteHeader {
    position: fixed;
    z-index: 2;
    bottom: 40px;
    left: 35px;
    cursor: crosshair;
  }

  .nav-toggle {
    font-size: 14px;
    transform-origin: left bottom;
    transform: translateX(14px) rotate(-90deg)
  }


  .nav .siteNav_title {
    position: absolute;
    left: 20px;
    top: 60px;
    font-size: 25px;
    line-height: 0.9;
    letter-spacing: -0.02rem;
  }

  .nav .close {
    cursor: crosshair;
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 14px;
    transform-origin: left bottom;
    transform: translateX(14px) rotate(-90deg)
  }

  .siteNav_pages {
    position: absolute;
    left: calc(var(--column)*1.2);
    top: calc(70px + 15vh);
  }

  .siteNav_pages li .label {
    font-size: 14px;
  }

  .siteNav_pages li .name {
    font-size: 50px;
    letter-spacing: -0.02rem;
  }

  .siteNav_glimpse {
    position: absolute;
    /* left: 105.25px; */
    left: calc(var(--column)*0.4);
    top: calc(1px + 35vh + 230px);
    line-height: 1.4;
    letter-spacing: 0.04rem;
    opacity: 0.7;
    font-size: 13px;
  }
}


@media only screen and (min-width: 768px) {

  .main_header {
    position: absolute;
    left: 0;
    top: calc(30% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    padding: 0 80px 0 20px;
    transform: translateY(-100%);
  }

  .main_title {
    margin-left: 80px;
    /* margin-right: 20rem; */
    font-size: 50px;
    letter-spacing: -0.02rem;
    line-height: 0.9;
  }

  .slider-wrap {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    height: 322px;
    cursor: grab;
    border-left: 2px solid black;
    border-right: 2.5px solid black;
  }

  #toggle {
    margin: 0 10px 0 0;
    width: 70px;
    height: 35px;
    border-radius: 35px;
  }

  #toggle .indicator {
    width: 35px;
    height: 35px;
  }

  #toggle.active .indicator {
    left: 35px;
  }

  .main_desc {
    left: calc(var(--margin) + var(--column)*0.8);
    top: calc(1px + 35vh + 230px);
  }

  .siteHeader {
    position: fixed;
    z-index: 2;
    bottom: 40px;
    left: 50px;
    cursor: crosshair;
  }

  .nav-toggle {
    font-size: 15px;
  }


  .nav .siteNav_title {
    position: absolute;
    left: 20px;
    top: 60px;
    font-size: 25px;
    line-height: 0.9;
    letter-spacing: -0.02rem;
  }

  .nav .close {
    cursor: crosshair;
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 14px;
    transform-origin: left bottom;
    transform: translateX(14px) rotate(-90deg)
  }

  .siteNav_pages {
    position: absolute;
    left: calc(var(--column)*1.2);
    top: calc(70px + 15vh);
  }

  .siteNav_pages li .label {
    font-size: 14px;
  }

  .siteNav_pages li .name {
    font-size: 50px;
  }

  .siteNav_glimpse {
    left: calc(var(--column)*0.4);
    top: calc(1px + 35vh + 230px);
    font-size: 13px;
  }
}


@media only screen and (min-width: 1280px) {
  .main_header {
    padding: 0 var(--margin);
  }

  .main_desc {
    font-size: 14px;
    left: calc(var(--margin) + var(--column)*1.3);
    top: calc(1px + 35vh + 240px);
  }

  .siteHeader {
    left: 80px;
  }

  #toggle {
    margin-right: 5rem;

    width: 70px;
    height: 35px;
    border-radius: 35px;
  }

  .nav-toggle {
    font-size: 16px;
  }

  .nav .siteNav_title {
    left: 80px;
    top: 60px;
    font-size: 36px;
  }

  .nav .close {
    left: 80px;
    bottom: 40px;
    font-size: 16px;
  }

  .siteNav_pages {
    left: calc(var(--column)*2.3);
    top: calc(55px + 15vh);
  }

  .siteNav_pages li .label {
    font-size: 18px;
  }

  .siteNav_pages li .name {
    font-size: 60px;
  }

  .siteNav_glimpse {
    left: calc(var(--column)*1.2);
    top: calc(50px + 35vh + 230px);
    line-height: 1.4;
    letter-spacing: 0.04rem;
    opacity: 0.7;
    font-size: 13px;
  }

}